@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Didact+Gothic&family=Open+Sans&family=Oswald&family=Poppins:ital,wght@0,300;1,100&family=Roboto&family=Roboto+Condensed&family=Spartan:wght@200;400;500&family=Spline+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;

}

::-webkit-scrollbar {
    width: 0;
}

#cursor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    font-family: "Roboto", sans-serif;
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

body {
    background-color: #141414;
    box-sizing: border-box;
    max-width: 1488px;
    cursor: none;

}

.nav-logo {
    display: flex;
    align-items: center;
}

.profile-icon {
    height: 50px;
    width: 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.navbar {
    background-color: #141414;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
    color: white;
    height: 15vh;
    font-size: 12px;
}

.nav-social {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 50px;
    padding: 0 50px;
    justify-content: flex-start;

}

.nav-links {
    display: flex;
    align-items: center;
    width: 40%;
    gap: 50px;
    justify-content: flex-end;
}
.nav-link{
    position: relative;
}
.nav-link::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: white;
    position: absolute;
    left:0;
    bottom:-10px;
    transform: scaleX(0);
    transform-origin:left;
    transition: 0.25s ease-in;

}

.nav-link:hover::after{
    transform: scaleX(1);
}

.menu-icon {
    background-color: inherit;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out .3s;
    cursor: pointer;
}


.menu-icon:hover {
    background-color: red;
}

.hero {
    display: flex;
    width: 100%;

}

.header {
    width: 75%;
}

.header-text {
    line-height: 1em;
    font-size: 10em;
    font-family: "Oswald", sans-serif;
    color: white;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 75px;

}

.profile-image {
    overflow: hidden;
    margin: 25px 100px;
}

.portfolio {
    color: white;
    padding: 50px;


}

.project {
    display: flex;
    flex-direction: column;
    margin: 25px 0;
}




.project-img {
    margin: 50px 100px;
}



.portfolio-header {
    font-size: 3em;
    font-family: "Poppins", sans-serif;
    margin: 50px 100px;
    color: #828282;
    text-align: center;

}

.project-title {
    /* padding: 0px 25px; */
    /* margin: 0px 100px; */
    text-align: center;
    font-size: 2em;
    font-family: "Poppins", sans-serif;
    color: #828282;

}

.why{
    display: flex;
    width: 200%;
    align-items: center;
    overflow: hidden;
    text-transform: uppercase;
}
.why-why{
    font-size: 400px;
    font-family: "Oswald", sans-serif;
    -webkit-text-stroke: 1px white;
    color: transparent;
    
}

.why-adv{
    border:1px solid white;
    color: white;
    right: 80px;
    border-radius: 50%;
    height: 250px;
    width: 250px;
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto Condensed', sans-serif;
    animation: rotating 30s linear infinite;



}

.why-name{
    font-size: 400px;
    font-family: "Oswald", sans-serif;
    color: white;

   
}


@keyframes rotating {
    from {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}